.aashop .row {
  display: grid;
  grid-template-areas: "stack details specialty";
  grid-template-columns: 1fr 2fr 1fr;
}

.aashop .stack {
  grid-area: stack;
}

.aashop .details {
  grid-area: details;
  display: flex;
  justify-content: center;
}

.aashop .details > div {
  max-width: 600px;
}

.aashop .specialty {
  grid-area: specialty;
}

.aashop.page-width {
  width: 100vw;
}

section.aashop.page-width {
  margin: 0 auto;
}

.aashop-section-padding {
  padding-top: 0;
  padding-bottom: 36px;
}

.aashop-main-page-title {
  margin-bottom: 3rem;
}

.aashop-page-title {
  margin-top: 0;
}

.aashop .rte p {
  font-size: 1.2rem;
}

.aashop .col-narrow,
.aashop .col-large {
  padding-top: 36px;
}

.aashop .col-narrow > div {
  margin-top: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aashop .col-narrow h3 {
  text-decoration: underline;
}

.aashop ul {
  padding-left: 0;
}

.aashop li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aashop li span:first-child {
  text-decoration: underline;
}

/* Icons START */

.aashop svg {
  width: 40px;
  display: inline;
  padding-top: 10px;
}

.aashop .icon-shopify-liquid {
  width: 55px;
  padding: 5px 0;
}

.aashop .icon-express {
  width: 70px;
  height: 40px;
}

.aashop .icon-php,
.aashop .icon-django,
.aashop .icon-node {
  width: 60px;
  padding: 0;
}

/* Icons END */

/* Custom Elements START */

.aashop .divider {
  width: 90%;
  height: 2px;
  background-color: var(--clr-accent);
  margin: 15px 0;
}

.aashop .hero-btn-wrapper {
  display: flex;
  padding: 20px 0;
  margin-bottom: 10px;
  justify-content: center;
}

.aashop .hero-btn-wrapper .btn {
  font-size: 1rem;
}

/* Custom Elements END */

/* Media Queries */

@media screen and (max-width: 849px) {
  .aashop .row {
    flex-direction: column;
  }

  .aashop .row {
    display: grid;
    grid-template-areas: "details details" "stack specialty";
    grid-template-columns: 1fr 1fr;
  }

  .aashop .col-narrow > div {
    margin-top: 0;
  }
}

@media screen and (max-width: 1099px) {
  .aashop h1 {
    font-size: 3.5rem;
  }
}
