*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #43ccfa;
  /* --clr-accent: #6e9fff; */
  /* --clr-accent: #16e0bd; */

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* this applies multiple box shadows */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: 0.25em 1em;
  margin-bottom: 1em;
}

/* header */

.main-header {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 178px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 2.25rem;
  top: 2.25rem;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
  background: var(--clr-light);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background: var(--clr-light);
}

.nav-open .hamburger::after {
  opacity: 0;
}

/* Hamburger */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Intro section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    gap: 0 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My services section */

.my-services {
  background-color: rgb(100, 100, 100);
  background-image: url(../img/services-bg.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 3em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  flex: 0 0 30%;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

.section__subtitle--about {
  min-height: 2rem;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    gap: 0 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    /* grid-column or grid-row: 1 / -1 means start at the beginning of
    this row or column and strech all the way to the end */
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.portfolio__item {
  position: relative;
  background: var(--clr-accent);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__title {
  position: absolute;
  background: var(--clr-dark);
  color: var(--clr-light);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  z-index: 5;
  padding: 5px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}

.portfolio__item-badge {
  position: absolute;
  background: blue;
  color: #fff;
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  z-index: 5;
  padding: 5px;
  right: 5px;
  top: 0;
  transition: opacity 0.5s ease-in-out;
}

.portfolio__item-badge--new {
  background-color: yellow;
  color: var(--clr-dark);
}

.portfolio__item:hover .portfolio__title,
.portfolio__item:hover .portfolio__item-badge {
  opacity: 0.5;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
  outline-offset: 0;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.75;
}

/* Footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
  display: flex;
  background: var(--clr-accent);
  border-radius: 20%;
}

.social-list__link {
  padding: 0.5em;
}

.social-list__link img {
  width: 2rem;
}

/* Individula portfolio item styles */

.portfolio-item-individual,
.portfolio-items-other {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-items-other {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  text-align: center;
}
.portfolio-items-other ul {
  list-style: none;
  padding: 0;
}

.portfolio-item-individual div {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.portfolio-item-individual a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #635da8;
}
.portfolio-item-individual a::after {
  content: " »";
}

.portfolio-item-individual a:hover {
  text-decoration: underline;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* T.M. Nav Setup: Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.stop-scrolling {
  overflow: hidden;
}

/* Back to top button */

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--clr-dark);
  bottom: 40px;
  right: 0;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: var(--clr-light);
  z-index: 3;
}

/* TM Header and side menu */
.desktop-main-menu {
  margin-right: 70px;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  display: none;
}

.desktop-main-menu ul {
  display: flex;
  margin-bottom: 0;
}

.lower-menu {
  margin: 0;
  display: flex;
  justify-content: center;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 1.2rem;
  padding-bottom: 2px;
}

/* Menu item bottom border */
.desktop-main-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-accent);
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
}

.desktop-main-menu ul {
  list-style: none;
}

.desktop-main-menu ul li a {
  text-decoration: none;
  color: var(--clr-dark);
}

@media (min-width: 800px) {
  .desktop-main-menu {
    display: block;
  }
}

/* Contact Form TM */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.contact {
  box-shadow: var(--bs);
}

.contact h3 {
  text-align: center;
}

.contact > * {
  padding: 1em;
}

/* Contact Form TM > Form Styles */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--clr-dark);
}

.contact form button {
  background: var(--clr-accent);
  font-size: var(--fs-h3);
  border: none;
}

.contact form button:hover {
  background: var(--clr-dark);
  color: var(--clr-light);
  transition: 0.5s;
}

/* Contact Form TM > Large Screens */

@media (min-width: 800px) {
  .contact > * {
    padding: 2em;
  }

  .contact h3 {
    padding: 2em 0 1em;
  }
}

/* my styles */
.portfolio-item-individual .github-link {
  font-size: 1.25rem;
}

.portfolio-item-individual img {
  border: 2px solid #635da8;
  border-radius: 5px;
  margin: 0.5rem 0;
}

#updates {
  background: linear-gradient(
    127deg,
    rgba(254, 217, 81, 1) 11%,
    rgba(255, 70, 199, 1) 81%
  );
  color: black;
  text-align: center;
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
  padding: 0.25em 0;
  font-weight: var(--fw-bold);
}

/* Tailwind Style Classes */
.underline {
  text-decoration: underline;
}
