canvas {
  border: 1px solid white;
}

.instructions {
  border: 1px solid white;
  width: 100%;
  text-align: left;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  text-decoration: underline;
}

.return-btn {
  font-size: 20px;
  text-decoration: none;
  color: cyan;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  background-color: blueviolet;
}
