*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #43ccfa;
  /* --clr-accent: #6e9fff; */
  /* --clr-accent: #16e0bd; */
  --clr-gradient: linear-gradient(
    127deg,
    rgba(254, 217, 81, 1) 11%,
    rgba(255, 70, 199, 1) 81%
  );

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* this applies multiple box shadows */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: 0.25em 1em;
  margin-bottom: 1em;
}

/* header */

.main-header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-header > div {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
  max-width: 1188px;
}

.logo {
  max-width: 178px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 2.25rem;
  top: 2.25rem;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
  background: var(--clr-light);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background: var(--clr-light);
}

.nav-open .hamburger::after {
  opacity: 0;
}

/* Hamburger */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* My services section */

.my-services {
  background-color: rgb(100, 100, 100);
  background-image: url(/images/services-bg.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 3em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  flex: 0 0 30%;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

.section__subtitle--about {
  min-height: 2rem;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    gap: 0 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    /* grid-column or grid-row: 1 / -1 means start at the beginning of
    this row or column and strech all the way to the end */
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* T.M. Nav Setup: Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.stop-scrolling {
  overflow: hidden;
}

/* Back to top button */

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--clr-dark);
  bottom: 40px;
  right: 0;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: var(--clr-light);
  z-index: 3;
}

/* TM Header and side menu */
.desktop-main-menu {
  margin-right: 70px;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  display: none;
}

.desktop-main-menu ul {
  display: flex;
  margin-bottom: 0;
}

.lower-menu {
  margin: 0;
  display: flex;
  justify-content: center;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 1.2rem;
  padding-bottom: 2px;
}

/* Header menu item bottom border */
.desktop-main-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-accent);
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
}

.desktop-main-menu ul {
  list-style: none;
}

.desktop-main-menu ul li a {
  text-decoration: none;
  color: var(--clr-dark);
}

@media (min-width: 800px) {
  .desktop-main-menu {
    display: block;
  }
}

/* my styles */
.page-width {
  max-width: 1500px;
  margin: 0 auto;
}

/* Tailwind Style Classes */
.underline {
  text-decoration: underline;
}

/* Logo Wiggle Animation */
.logo.animation:hover {
  animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
