---
import { Icon } from "astro-icon";
---

<section class="page-width about-page-width" id="about">
  <div class="container w-container page">
    <div class="home-about-wrapper">
      <div class="home-about-text">
        <h2 class="section__title section__title--about">About</h2>
        <div class="rte about-rte w-richtext">
          <p>
            I started learning to code so that I could make flash cards from
            data I scraped from the internet. As I became more experienced, I
            started making my own games.
          </p>
          <p>
            Eventually I wanted to build my own website but that just lead me
            down a rabbit hole of frameworks until I decided to go with the
            popular MERN stack.
          </p>
          <p>
            As my skills grew, I realized that I wanted to make coding my career
            and I thought about how I could provide the most value to people
            using my skills.
          </p>
          <p>
            Seeing that Ecommerce was becoming very popular, and that Ecommerce
            had produced some of the most incredible websites I had ever seen, I
            became a Shopify Developer and started building stores for clients.
          </p>
        </div>
      </div>
      <div class="home-about-image">
        <a href="/images/about-me.jpg" target="_blank">
          <img src="/images/about-me.jpg" alt="" loading="lazy" />
          <Icon name="iconMagnifyingLens" width="40" height="40" />
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .about-page-width {
    max-width: 1188px;
  }

  .home-about-wrapper {
    align-items: center;
    display: flex;
  }

  .home-about-text {
    flex: 0 50%;
    margin-right: 80px;
  }

  .rte.about-rte {
    font-size: 17px;
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 26px;
  }

  .home-about-image {
    flex: 0 50%;
    position: relative;
  }

  .home-about-image svg {
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    border-radius: 25% 0 0 0;
    border-top: 1px solid var(--clr-light);
    border-left: 1px solid var(--clr-light);
  }

  .home-about-image a:hover svg {
    transform: scale(1.1);
  }

  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    box-shadow: var(--bs);
  }

  @media screen and (max-width: 599px) {
    .home-about-wrapper {
      flex-direction: column;
      align-items: stretch;
    }

    .home-about-text {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 799px) {
    .home-about-text {
      margin-right: 40px;
      flex-basis: 60%;
    }
  }
</style>
