---
---

<section class="page-width about-page-width" id="about">
  <div class="container w-container page">
    <div class="home-about-wrapper">
      <div class="home-about-text">
        <h2 class="section__title section__title--about">About</h2>
        <div class="rte about-rte w-richtext">
          <p>
            I am a graduate of the University of Southern California, Los
            Angeles, with a B.S. in Math. I am a former active military member,
            having served as a United States Coastguardsman.
          </p>
          <p>
            I became interested in coding after using the programming language
            Python to automate the creation of flashcards for the popular
            flashcard app Anki. I was amazed by the power of coding when I
            transformed approximately 24 hours of manual card creation into just
            one hour of enjoyable reading, while my computer generated the cards
            for me.
          </p>
        </div>
      </div>
      <div class="home-about-image">
        <img src="/images/project-placeholder.jpg" alt="" loading="lazy" />
      </div>
    </div>
  </div>
</section>

<style>
  .about-page-width {
    max-width: 1188px;
  }

  .home-about-wrapper {
    align-items: center;
    display: flex;
  }

  .home-about-text {
    flex: 0 50%;
    margin-right: 80px;
  }

  .rte.about-rte {
    font-size: 17px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 26px;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  @media screen and (max-width: 599px) {
    .home-about-wrapper {
      flex-direction: column;
      align-items: stretch;
    }

    .home-about-text {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 799px) {
    .home-about-text {
      margin-right: 40px;
      flex-basis: 60%;
    }
  }
</style>
