---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import MyWork from "../components/MyWork.astro";
---

<Layout title="Drew's Portfolio">
  <Intro />
  <Services />
  <About />
  <MyWork />
  <!-- Back to top button -->
  <a href="#home" class="gotopbtn">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
</Layout>
