---
---

<section id="about">
  <div class="container">
    <div class="about-content">
      <div class="img-side">
        <img
          src="/images/about500x500.webp"
          alt="man coding on a laptop"
          class="img-side__main-img"
        />
      </div>
      <div class="text-side">
        <h3>About Me</h3>
        <h4>Full Stack Web Developer</h4>
        <p>
          I'm a passionate coder residing in the vibrant city of Los Angeles.
          Over the years, I've embarked on a journey that combines my coding
          skills with entrepreneurial flair. Through my dedication, I've created
          a collection of influential blogs that not only share valuable
          insights but also generate income through strategic ad placements.
        </p>
        <p>
          My expertise in full-stack web application development has allowed me
          to craft revenue-generating web apps, each tailored to meet specific
          industry needs. These applications not only reflect my technical
          proficiency but also contribute to a diverse stream of income.
        </p>
        <p>
          In addition to my digital ventures, I've ventured into the world of
          e-commerce, proudly operating a successful Shopify store. Here, I
          offer a range of captivating products that have captured the attention
          of a wide audience.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  /* section id="about"*/
  #about {
    background-color: #fff;
    padding: 6rem 0;
  }

  @media (max-width: 1020px) {
    #about {
      padding: 3rem 0;
    }
  }

  /* div class="container" */
  .container {
    margin: 0 auto;
    max-width: 66.875rem;
    padding: 0 2.5rem;
  }

  /* div class="about-content" */
  .about-content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  @media (max-width: 1020px) {
    .about-content {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  /* div class="img-side" */
  .img-side {
    position: relative;
  }

  /* img class="img-side__main-img" */
  .img-side__main-img {
    border-radius: 1.0625rem;
    height: 25.625rem;
    width: 25.625rem;
  }

  @media (max-width: 1020px) {
    .img-side__main-img {
      margin-bottom: 2.1875rem;
    }
  }

  /* div class="text-side" */
  .text-side {
    padding-right: 0.9375rem;
  }

  /* h3 */
  .text-side h3 {
    color: var(--clr-accent);
    font-size: 1.0625rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
  }

  /* h4 */
  .text-side h4 {
    font-size: 1.5625rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
  }

  /* p */
  .text-side p {
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.5;
  }
</style>
