---
export interface Props {
  title?: string;
  link?: string;
  imageSquare?: string;
  badge?: string;
}

const {
  title = "Title",
  imageSquare = "../Images/project-placeholder.jpg",
  link = "",
  badge = "",
} = Astro.props as Props;
---

<a href={link} class="portfolio__item">
  <img src={imageSquare} alt="" class="portfolio__img" />
  <p class="portfolio__title">{title}</p>
  {
    badge == "New" ? (
      <p class="portfolio__item-badge portfolio__item-badge--new">
        &#9734; New &#9734;
      </p>
    ) : (
      ""
    )
  }
  {
    badge == "Updated" ? (
      <p class="portfolio__item-badge">&#9734; Updated &#9734;</p>
    ) : (
      ""
    )
  }
</a>
