---
---

<header class="main-header" id="home">
  <div class="page-width">
    <div class="logo">
      <a href="/#home">
        <img src="/images/devDrew.png" alt="" />
      </a>
    </div>
    <nav class="desktop-main-menu">
      <ul class="upper-menu">
        <li>
          <a href="/#services">My Services</a>
        </li>
        <li>
          <a href="/#about">About Me</a>
        </li>
        <li>
          <a href="/#work">My Work</a>
        </li>
        <li>
          <a href="/#contact">Contact</a>
        </li>
      </ul>
      <ul class="lower-menu">
        <li>
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
    <button class="nav-toggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/#services" class="nav__link">My Services</a>
        </li>
        <li class="nav__item">
          <a href="/#about" class="nav__link">About Me</a>
        </li>
        <li class="nav__item">
          <a href="/#work" class="nav__link">My Work</a>
        </li>
        <li class="nav__item">
          <a href="/contact" class="nav__link">Contact</a>
        </li>
        <li class="nav_item">
          <a class="nav__link" href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .logo:hover {
    animation: wiggle 1s ease-in-out infinite;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(5deg);
    }
    15% {
      transform: rotate(-5deg);
    }
    20% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>

<script>
  import "../js/nav.js";
</script>
