---
import Card from "./Card.astro";
import { formatProjects } from "../js/utils.js";

const projects = await Astro.glob("../projects/*.md");
const formattedProjects = formatProjects(projects, { limit: 6 });
---

<!-- My Work -->
<section class="my-work" id="work">
  <div>
    <h2 class="section__title section__title--work">My work</h2>
    <p class="section__subtitle section__subtitle--work">Checkout my stores</p>
    <div class="project-styles page-width">
      {
        formattedProjects.map((project) => (
          <Card {project} lazyLoading={true} />
        ))
      }
    </div>
  </div>
</section>

<style>
  section.my-work {
    padding-left: 0;
    padding-right: 0;
  }

  .project-styles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
    place-items: center;
    gap: 3rem 2rem;
  }

  /* Media Queries */

  @media screen and (min-width: 416px) {
    .project-styles {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }

  @media screen and (min-width: 550px) {
    section.my-work {
      padding: 2em 2em;
    }
  }
</style>
