---
import { type CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"project">;
  lazyLoading?: boolean;
};

const { project, lazyLoading = false } = Astro.props as Props;
---

<div class="card">
  <a href={`/project/${project.slug}`}>
    <img
      src={project.data.image}
      alt="project card"
      loading={lazyLoading ? "lazy" : "eager"}
    />
    <div></div>
  </a>
</div>

<style></style>
