---
import NewCard from "./NewCard.astro";
import { Icon } from "astro-icon";
import { getCollection, type CollectionEntry } from "astro:content";
import { formatProjects } from "../js/utils.js";

const projects = await getCollection("project", ({ data }) => {
  return data.show_on_frontpage;
});
const formattedProjects = formatProjects(projects, {
  limit: 20,
}) as CollectionEntry<"project">[];
---

<!-- My Work -->
<section class="my-work" id="work">
  <div class="page-width">
    <h2 class="section__title section__title--work">My work</h2>
    <p class="section__subtitle section__subtitle--work">Checkout my stores</p>
    <a href="/projects" class="btn"
      >More Projects <Icon name="iconArrowRight" width="20" height="20" /></a
    >
    <div class="projects-grid">
      {
        formattedProjects.map((project) => (
          <NewCard {project} lazyLoading={true} />
        ))
      }
    </div>
  </div>
</section>

<style>
  /* section class="my-work page-width" id="work" */
  .my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
  }

  /* div */
  .page-width {
    max-width: 1188px;
    margin: 0 auto;
  }

  /* h2 class="section__title section__title--work" */

  .section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
  }

  /* p class="section__subtitle section__subtitle--work" */

  /* a class="btn" */
  .btn {
    margin-bottom: 4em;
  }

  /* svg */

  .btn svg {
    vertical-align: middle;
    transform: translateY(-1px);
  }

  /* div class="projects-grid" */
  .projects-grid {
    margin-top: 2.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
  }

  @media (min-width: 640px) {
    .projects-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (min-width: 1280px) {
    .projects-grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  /* Media Queries */

  @media screen and (min-width: 550px) {
    section.my-work {
      padding: 2em 2em;
    }
  }
</style>
