---
---

<section class="my-services" id="services">
  <h2 class="section__title section__title--services">What I do</h2>
  <div class="services">
    <div class="service">
      <h3>Shopify Theme Customizations</h3>
      <p>
        I have expert knowledge of Shopify themes and web development. I can add
        customizations that don't conflict with the rest of your theme and that
        are easy for you and other developer's to work with.
      </p>
    </div>
    <div class="service">
      <h3>Shopify Documentation</h3>
      <p>
        Shopify Documentation can be difficult to sift through and time
        consuming and honestly much of the documentation is hard to remember (or
        even understand) unless it is put into practice.
      </p>
      <p>
        Having a Shopify developer do this for you is where developer services
        really pay off as you'll get the solutions you need without distracting
        yourself from running your business.
      </p>
    </div>
    <div class="service">
      <h3>HTML, CSS and Javascript help</h3>
      <p>HTML, CSS and Javascript are the building blocks of the web.</p>
      <p>
        I can help with any HTML, CSS or Javascript problems that you may have
        as these web development tools are the pillars of my skill set.
      </p>
    </div>
  </div>
</section>

<style>
  /* My services section */

  .my-services {
    background-color: rgb(100, 100, 100);
    background-image: url(/images/services-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
  }

  .section__title--services {
    color: var(--clr-accent);
    position: relative;
  }

  .section__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
  }

  .services {
    margin-bottom: 3em;
  }

  .service {
    max-width: 500px;
    margin: 0 auto;
    flex: 0 0 30%;
  }

  @media (min-width: 800px) {
    .services {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .service + .service {
      margin-left: 2em;
    }
  }

  .about-me {
    max-width: 1000px;
    margin: 0 auto;
  }

  .about-me__img {
    box-shadow: var(--bs);
  }

  .section__subtitle--about {
    min-height: 2rem;
  }

  @media (min-width: 600px) {
    .about-me {
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
      gap: 0 2em;
    }

    .section__title--about {
      grid-area: title;
    }

    .section__subtitle--about {
      /* grid-column or grid-row: 1 / -1 means start at the beginning of
    this row or column and strech all the way to the end */
      grid-column: 1 / -1;
      grid-row: 2;
      position: relative;
      left: -1em;
      width: calc(100% + 2em);
      padding-left: 1em;
      padding-right: calc(200px + 4em);
    }

    .about-me__img {
      grid-area: img;
      position: relative;
      z-index: 2;
    }
  }
</style>
