<!-- My services -->
<section class="my-services" id="services">
  <h2 class="section__title section__title--services">What I do</h2>
  <div class="services">
    <!-- service -->

    <div class="service">
      <h3>Shopify Theme Customizations</h3>
      <p>
        I have expert knowledge of Shopify themes and web development. I can add
        customizations that don't conflict with the rest of your theme and that
        are easy for you and other developer's to work with.
      </p>
    </div>
    <!-- service -->

    <div class="service">
      <h3>Shopify Documentation</h3>
      <p>
        Shopify Documentation can be difficult to sift through and time
        consuming and honestly much of the documentation is hard to remember (or
        even understand) unless it is put into practice.
      </p>
      <p>
        Having a Shopify developer do this for you is where developer services
        really pay off as you'll get the solutions you need without distracting
        yourself from running your business.
      </p>
    </div>
    <!-- service -->

    <div class="service">
      <h3>HTML, CSS and Javascript help</h3>
      <p>HTML, CSS and Javascript are the building blocks of the web.</p>
      <p>
        I can help with any HTML, CSS or Javascript problems that you may have
        as these web development tools are the pillars of my skill set.
      </p>
    </div>
  </div>
  <!-- services -->

  <a href="#work" class="btn">My Work</a>
</section>
