---
---

<section class="my-services" id="services">
  <h2 class="section__title section__title--services">What I do</h2>
  <div class="services">
    <div class="service">
      <h3>Shopify App Development</h3>
      <p>
        I specialize in Shopify app development, creating custom solutions
        tailored to meet the unique needs of your business.
      </p>
      <p>
        With my expertise in Shopify's platform and APIs, I can help you enhance
        your online store's functionality, integrate third-party services, and
        streamline your e-commerce operations.
      </p>
      <p>
        Whether you require a new app or modifications to an existing one, I can
        deliver efficient and scalable solutions to optimize your Shopify store.
      </p>
    </div>
    <div class="service">
      <h3>Web Design</h3>
      <p>
        Offering comprehensive web design solutions, I focus on creating
        captivating interfaces that align with your brand identity.
      </p>
      <p>
        With meticulous attention to detail and a user-centric approach, I
        create visually stunning websites that deliver an enjoyable and
        intuitive browsing experience.
      </p>
      <p>
        By incorporating responsive design techniques and optimizing page load
        speeds, I strive to deliver a website that not only captures attention
        but also drives engagement and delivers results for your business.
      </p>
    </div>
    <div class="service">
      <h3>Shopify Theme Customizations</h3>
      <p>
        I specialize in Shopify theme customizations, tailoring your online
        store to perfectly match your brand and requirements.
      </p>
      <p>
        With expertise in HTML, CSS, and Liquid, I can modify and enhance your
        Shopify theme to create a visually stunning and user-friendly shopping
        experience.
      </p>
      <p>
        Let me help you optimize your store's design and functionality to
        maximize conversions and stand out in the competitive e-commerce
        landscape.
      </p>
    </div>
  </div>
</section>

<style>
  /* My services section */

  .my-services {
    background-color: rgb(100, 100, 100);
    background-image: url(/images/services-bg.webp);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
  }

  .section__title--services {
    color: var(--clr-accent);
    position: relative;
  }

  .section__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
  }

  .services {
    margin-bottom: 3em;
  }

  .service {
    max-width: 500px;
    margin: 0 auto;
    flex: 0 0 30%;
  }

  @media (min-width: 800px) {
    .services {
      display: flex;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .service + .service {
      margin-left: 2em;
    }
  }

  .about-me {
    max-width: 1000px;
    margin: 0 auto;
  }

  .about-me__img {
    box-shadow: var(--bs);
  }

  .section__subtitle--about {
    min-height: 2rem;
  }

  @media (min-width: 600px) {
    .about-me {
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
      gap: 0 2em;
    }

    .section__title--about {
      grid-area: title;
    }

    .section__subtitle--about {
      /* grid-column or grid-row: 1 / -1 means start at the beginning of
    this row or column and strech all the way to the end */
      grid-column: 1 / -1;
      grid-row: 2;
      position: relative;
      left: -1em;
      width: calc(100% + 2em);
      padding-left: 1em;
      padding-right: calc(200px + 4em);
    }

    .about-me__img {
      grid-area: img;
      position: relative;
      z-index: 2;
    }
  }
</style>
